[2019-04-12 20:48] orront opened #1 "Please add a license"
Please add a license. Personally I would recommend a license which deals with patents properly (which I **believe** is done by the GPLv3, LGPLv3 and Apache 2), but of course the choice is up to you and the future dependencies you want to add.

[2019-04-13 18:45] rajeevsingh-ag opened #2 "iot-inspector-client fails to start"
iot-inspector-client fails to start after providing admin access.

Environment:
+ macOS Mojave 10.14.4
+ MacBook Pro 15-inch 2017, intel Core i7, 16 GB RAM, 1 TB SSD

1. Followed instructions and launched start-inspector utility
2. Got prompted to provide admin privileges
3. After typing in password, utility disappears and the web-page does not refresh

I have a suspicion that because I have anoth

[2019-04-16 23:12] chanwilson opened #3 "inspector failure"
MacOS 10.14.4, iot-inspector-client version from 4/1/19.

Network connections via both wifi and usb-ethernet.
start_inspector_mac runs for a bit less than a minute, spawning off an iot-inspector-netdisco or two, then exists.
Perhaps related to multiple NICs in use (on the same network) as well as VPN (tunnelblick) on this system?
Can triage further as needed.

[2019-04-20 05:31] kelgazza opened #4 "Please add a list of required packages"
please consider putting all required packages in a requirements.txt file.
```$pip install -r requirements.txt```

[2019-04-20 05:48] kelgazza commented on #3
I got this error when running on the same OS version:

WARNING: __del__: don't know how to close the file descriptor. Bugs ahead ! Please report this bug.
WARNING: __del__: don't know how to close the file descriptor. Bugs ahead ! Please report this bug.
WARNING: more __del__: don't know how to close the file descriptor. Bugs ahead ! Please report this bug.
WARNING: __del__: don't know how to clos

[2019-04-20 17:55] jareau commented on #3
About this in the FAQ: "...it is likely that your router blocks our ARP spoofing attempts, thus preventing IoT Inspector to intercept any network traffic. In this case, IoT Inspector will not work on your network.".

Are there any workarounds for this?

[2019-04-23 03:41] crazyideas21 commented on #3
@chanwilson IoT Inspector automatically closes within 15 seconds if you don't open inspector.cs.princeton.edu and interact with it. This feature is meant to prevent continuous data collection without users' knowledge. Did you have the inspector.cs.princeton.edu webpage open?

@kelgazza I've seen this before. Seems like a `scapy` bug and doesn't appear to affect the functionality of IoT Inspector.

[2019-04-23 03:42] crazyideas21 commented on #4
Thanks! Working on the linux/mac build instructions. Will keep y'all posted.

[2019-04-23 14:07] chanwilson commented on #3
@crazyideas21 Yes, upon launching and authenticating start_inspector.app, a Chrome tab is opened to inspector.cs.princeton.edu.  That page never updates, and the tiny status displayed in the upper right corner never changes from "Loading IoT Inspector..." and then times out within a minute.  No data is gathered or displayed on the web page.

[2019-04-23 14:15] crazyideas21 commented on #3
@chanwilson My guess is that the actual binary of IoT Inspector (not the apple script wrapper) never loaded because you were running a VPN client. I've tested IoT Inspector while running a VPN client myself; `scapy`, Python's packet capturing module, does not work well with the VPN network interface. I suggest you turn off VPN and try again.

[2019-04-23 14:22] chanwilson commented on #3
I don't have tunnelblick (VPN) running, but I do have the Docker subsystem running which has created several additional network interfaces... ?

[2019-04-23 14:23] crazyideas21 commented on #3
@chanwilson That's a likely reason, and I have no idea how to fix `scapy` for your situation. Any ideas would be appreciated!

[2019-04-23 14:27] chanwilson commented on #3
Ok, straight up quitting the Docker subsystem didn't help; the `utun0` and related interfaces are still hanging around.  I'll try a reboot later today with Docker disabled and see if that helps any.

How about being able to specify the interfaces `scapy` listens on?  Heck, just restricting it to the `enXX` interfaces might be good enough.

[2019-04-24 15:19] crazyideas21 commented on #2
We haven't tested with another ARP spoofing device. Our suspicion is that you may have a VPN or Docker that confused `scapy`. See this issue: https://github.com/noise-lab/iot-inspector-client/issues/3

Feel free to send us your log file so that we can take a look in detail. Thanks!

[2019-04-24 15:20] crazyideas21 commented on #1
Added :)

https://github.com/noise-lab/iot-inspector-client/blob/master/LICENSE.txt

[2019-04-24 15:20] #1 closed

[2019-04-24 19:37] crazyideas21 commented on #3
Thanks for the suggestion! Let us fix this issue in the upcoming release.

[2019-05-02 18:27] crazyideas21 commented on #4
The linux build instructions are available. See https://iot-inspector.princeton.edu/blog/post/getting-started/#i-class-fab-fa-linux-i-linux

[2019-05-02 18:27] #4 closed

[2019-05-02 18:27] #2 closed

[2019-05-03 19:48] arachmiel opened #5 "404 Not Found running Ubuntu on Windows 10"
The IoT inspector was installed and is running on an Ubuntu instance on Windows 10 (installed form the Windows store).

After running ~/princeton-iot-inspector/linux-start-inspector.sh I get:

Starting IoT Inspector...
WARNING: No route found for IPv6 destination :: (no default route?)
 * Serving Flask app "webserver" (lazy loading)
 * Environment: production
   WARNING: Do not use the development

[2019-05-03 20:51] crazyideas21 commented on #5
Once you run `~/princeton-iot-inspector/linux-start-inspector.sh`, if you scroll to the bottom of the terminal window, do you see something like the following? Click on the link (like the one below) to view the inspection report.

![Screen Shot 2019-05-03 at 4 49 42 PM](https://user-images.githubusercontent.com/1479070/57164889-7d50ac00-6dc3-11e9-82c0-bf650e922b48.png)

[2019-05-03 20:52] crazyideas21 commented on #5
Also, if you don't see the screen above, try running `sudo -E ~/princeton-iot-inspector/linux-start-inspector.sh` and see if it helps?

[2019-05-03 21:04] crazyideas21 commented on #5
Another user emailed me the same issue when he ran IoT Inspector on Windows 10's Linux subsystem. Until we fix this issue, could you run on Linux for now, @arachmiel?

[2019-05-03 21:42] crazyideas21 commented on #5
Apparently, Windows Ubuntu subsystem may present the routing information differently than what we expected, causing the system to hang on this line: https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/utils.py#L140

For now, don't run it on Windows Ubuntu subsystem yet. Run it on Linux. I'll figure out how Windows presents the routing information and fix the code above.

[2019-05-03 22:18] arachmiel commented on #5
Thanks for letting me know. I’ll give it a go on the Raspberry Pi until this is figured out.

[2019-05-04 10:08] ghost opened #6 "Running Inspector as a service?"
Is it recommended to run Inspector as a service and if so, can you add the "run as a service" option to the installer?

[2019-05-04 10:36] Toontje opened #7 "Internet of Things (IoT)/Google Home / google_cast / b11a84b8-b4e5-7c91-9607-7fd338f7db1e.local. / Chromecast / /setup/icon.png / TonCast TV"
The /setup/icon.png , should that be an icon?

[2019-05-04 10:48] ghost opened #8 "Inspector client required when accessing dashboard on web?"
Sometimes, i haven't determined when exactly, i get the message that i need the desktop client to see the dashboard on the web.

[2019-05-04 14:10] crazyideas21 commented on #8
When you opened links like this (below), did you see a message that asked you to run the desktop client?

![Screen Shot 2019-05-03 at 4 49 42 PM](https://user-images.githubusercontent.com/1479070/57180257-c4d34880-6e54-11e9-9083-5d30c836a6bd.png)

[2019-05-04 14:11] crazyideas21 commented on #7
`/setup/icon.png` is a part of the SSDP message announced by your Chromecast. It should live on your Chromecast's local HTTP server.

[2019-05-04 14:11] #7 closed

[2019-05-04 14:12] crazyideas21 commented on #6
Will consider this option in the next release. Thanks for the suggestion!

[2019-05-04 15:53] WayneLinton opened #9 "Devices on subnet not scanned"
My main PC/RPi equipment is on subnet 2.  All my IOT devices are on subnet 1.  Running IOT inspector from subnet 2 does not discover devices on subnet 1.

[2019-05-04 18:25] crazyideas21 commented on #9
This is a known limitation. IoT Inspector can only discover devices on the
same network.

On Sat, May 4, 2019, 11:53 Wayne Linton <notifications@github.com> wrote:

[2019-05-05 12:43] verisgit opened #10 "RPI install failure"
On install I get the following errors:
WARNING: Failed to execute tcpdump. Check it is installed and in the PATH
WARNING: No route found for IPv6 destination :: (no default route?)
Traceback (most recent call last):
  File "start_inspector.py", line 6, in <module>
    import webserver
  File "/home/pi/princeton-iot-inspector/iot-inspector-client/v2-src/webserver.py", line 1, in <module>
    from f

[2019-05-05 13:12] crazyideas21 commented on #10
Thanks for the bug report!

My guess is that `pip` installed the required packages to `root` instead of the current user `pi`.

Here's one way to get around this issue: In [this script](https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/linux-install-dependencies.sh), can you change all the `sudo` to `sudo -E`?

Let me know if this change solves the issue. Thanks!

[2019-05-05 20:06] avicodec opened #11 "Installation failed on Win10 "No such file or directory""
At the end of the installation (Ubuntu on Win10, dependencies ok), linux-setup.sh writes:
"Cloning into 'iot-inspector-client'...
fatal: unknown error occurred while reading the configuration files
linux-setup.sh: line 15: cd: /home/avicodec/princeton-iot-inspector/iot-inspector-client/v2-src: No such file or directory
bash: ./linux-install-dependencies.sh: No such file or directory"

=> Cloning h

[2019-05-05 22:56] crazyideas21 commented on #11
We never tested IoT Inspector on the Ubuntu subsystem of Windows 10. Our guess is that the setup script installed IoT Inspector to `/root` instead, which might have caused the error above.

Can you try the following?

1. On the command line, run `sudo su`, i.e., you'd be running as root.
2. Run `linux-setup.sh`.
3. Once setup is complete, run IoT Inspector by following the instructions --- while r

[2019-05-06 05:06] verisgit commented on #10
Thanks, will test that and report back.

[2019-05-06 16:00] AnthonyMastrean commented on #4
So, a [requirements file](https://pip.pypa.io/en/stable/reference/pip_install/?highlight=requirements#requirements-file-format) is still a better and more standardized solution than the [ad hoc install dependencies script](https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/linux-install-dependencies.sh).

Even more, if I'm trying to run this script in a Docker container, I have n

[2019-05-06 16:08] AnthonyMastrean opened #12 "No module named setuptools"
I get an error about missing setuptools when installing both [scapy](https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/linux-install-dependencies.sh#L8) and [netdisco](https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/linux-install-dependencies.sh#L10).

[code]
[code]

Seems like you need to [install setuptools](https://github.com/noise-lab/iot-inspector-clien

[2019-05-06 16:12] AnthonyMastrean commented on #6
systemd unit files seem quite a bit simpler than old sysv init scripts.

https://www.digitalocean.com/community/tutorials/understanding-systemd-units-and-unit-files

[2019-05-06 16:13] AnthonyMastrean opened #13 "WARNING: Failed to execute tcpdump. Check it is installed and in the PATH"
I'm getting this error on startup. Is `tcpdump` required or no? Is this error from your application or from a dependency?

[code]

If I add this to my system (or to the [install dependencies](https://github.com/noise-lab/iot-inspector-client/blob/master/linux-setup.sh#L5) script), the error goes away.

[code]

---

I'm on Ubuntu 18.04 "bionic".

[2019-05-06 16:17] AnthonyMastrean opened #14 "Several scapy WARNING messages?"
When I run the inspector, I see several WARNING messages immediately. I suspect, based on some searches, that these are related to scapy. Am I supposed to address these for proper analysis or can I ignore them?

[code]

Odd, I see a bit of code that looks like it's supposed to suppress these messages (if they are, in fact, coming from scapy).

https://github.com/noise-lab/iot-inspector-client/blob

[2019-05-06 16:23] AnthonyMastrean opened #15 "WARNING: Do not use the development server in a production environment."
Looks like a Flask warning...

[code]

The [Flask docs](http://flask.pocoo.org/docs/1.0/deploying/) mention

If it's OK to consider this a "dev" app and run on the Flask server (and not have to figure out some other webserver option), looks like there's some kind of .env file or ENV vars that might sort things out.

https://stackoverflow.com/questions/50284753/warning-message-while-running-flask

[2019-05-06 21:32] avicodec commented on #11
Hello, no it does not change anything, I have the same error are running the script. I thin about a configuration issue in my Win10 Ubuntu installation which prevent git to work properly.

I will wait for the Windows version :-)

[2019-05-06 21:32] #11 closed

[2019-05-09 20:29] pfletch101 commented on #6
I currently have Inspector running as a systemd service on my Raspberry Pi. This required only minor code changes (basically just adding file output from the code that displays the monitoring URL). I am working on a few further tweaks to make it a little more 'systemd aware', but these should be done and tested on my system by the end of this week. I will submit them when I have tested them.

[2019-05-10 14:56] crazyideas21 opened #16 "Fix unicode error in upload"
[code]

[2019-05-13 21:36] pfletch101 opened #17 "Overview reporting spuriously high data volumes"
As you will see in the screenshot attached as IoTI_overview.PNG, something strange is happening in the reporting of Network Activities. I believe that the reported total of 38 GB for 24 hours is too high, since it is not consistent with my ISP's measurements, which show my external usage as 69 GB for the entire month to date (12+ days). The 'unencrypted HTTP traffic' number of 167 GB is also enorm

[2019-05-13 21:40] pfletch101 opened #18 "Cannot stay on screen to 'unlock' reports for 'non-IoT' device"
One of my IoT devices (a WiFi-connected HVAC thermostat) has been incorrectly 'flagged' as a non-IoT device. As a result, I cannot get detailed reports for it. When I attempt to do so, I am redirected to a page which appears to be intended to allow me to 'unlock' it by entering more of its MAC address than IoTI normally shows, but this page only appears transiently (about half a second), before I

[2019-05-13 21:51] pfletch101 opened #19 "Problems with devices served by secondary access point"
I have two IoT devices in my basement which only have (built-in) wired network connections. Since my main router and WiFi access point are on the second floor of my house, and I don't have any feasible way of running ethernet cable between the floors, I have a network extender in the basement functioning as an access point, into which they are plugged, and by means of which they are connected to t

[2019-05-16 20:00] pfletch101 opened #20 "Disproportionate effect on 'SamKnows' network speed determinations"
Running IoT Inspector 24/7 on a Raspberry Pi appears seriously to interfere with the functioning of a [SamKnows](https://samknows.com/) network monitoring box, specifically in its determining of download speed. My network has a (rated) 60/5 Mbps cable modem connection to the internet, and my SamKnows box confirms that measured speeds are consistently slightly better than the rated values if IoT In

[2019-05-18 14:38] pfletch101 commented on #20
Disabling just the monitoring of the SamKnows device on IoT Inspector's main monitoring page seems to allow the SamKnows box to work properly, again. Both (reported) upload and download speeds remain slightly less than and slightly more variable than they are without IoT Inspector running at all, but this is probably valid, and reflects the extra network traffic which it causes.

[2019-05-23 16:42] crazyideas21 opened #21 "Script that installs IoT Inspector as a persistent service"
The Linux script should install and start IoT Inspector as a system service only during the user's session (rather than start regardless of who logs in).

[2019-05-26 22:58] pejacoby opened #22 "netdisco.NetdiscoWrapper error"
Noticed this error in the logs on MacOS 10.13.6 when running the tool today.  It reoccurs once every 30 seconds or so.  The tools seems to run fine and the web interface updates with traffic information.

[2019-05-26 17:52:59.531376] ================================================================================
Time: 2019-05-26 17:52:59.531067
Function: <bound method NetdiscoWrapper._run_netdisc

[2019-06-20 19:19] sameyers commented on #10
DId this work?  I just installed and ran on my Pi and had a similar result.  But it seems to still be collecting data.  I just assumed I hadn't properly configured IPv6 on my network.
My other Pi (PiHole) handles DHCP without IPv6 enabled.  Having run Iot Inspector on OSX and Raspbian, I have not run into the issue of being blocked by the PiHole.  Or at least not that I know.

[2019-07-14 01:33] melbeckman opened #23 "start_inspector crashes without completing initiation"
When I run start_inspector, it automatically opens the https://inspector.cs.princeton.edu/setup in Safari (!). I re-open it in Chrome and close the Safari browser. In the interim, MacOS prompts me for my admin password, and after i enter that, that the following messages appear in syslog, and the Chrome browser page hangs on the initial page forever. There is no evidence of any process named "star

[2019-08-03 19:26] verisgit commented on #10
Finally got around to testing it and can confirm it does not work.

Result of changing linux-install-dependencies.sh to include sudo -e
`pi@raspberrypi:~/princeton-iot-inspector/iot-inspector-client/v2-src $ bash ./linux-install-dependencies.sh
The directory '/home/pi/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permiss

[2019-10-05 15:11] gstar42 opened #24 "install fails with python error"
I have given all permissions to home/gstar/.cache and it's sub-folders. when i run the install i get python errors:

gstar@gstar-OptiPlex-SX280:~$ wget https://raw.githubusercontent.com/noise-lab/iot-inspector-client/master/linux-setup.sh
Will not apply HSTS. The HSTS database must be a regular and non-world-writable file.
ERROR: could not open HSTS store at '/home/gstar/.wget-hsts'. HSTS will be

[2019-10-05 21:10] nealmcb opened #25 "Clarify consequences and security risks of _installing_ iot-inspector-client"
IoT-inspector does not warn of the risks of _installing_ the tool prior to installation, and does not follow best practices for installation and client security.

The instructions should start by showing the disclaimer and warnings, so users know what they're getting in to before installing it. If, after learning of the risks, they aren't going to consent, it is a waste of time to install it, and

[2019-10-05 21:19] nealmcb commented on #4
And what's up with pip2 and pip3? How does it work to mix Python 2 and Python 3?
Especially for those of us trying to install this in a virtual environment (see #25), so it doesn't pollute our main package libraries?

[2019-10-05 21:43] nealmcb opened #26 "How to install in virtual environment? Python2 or Python3 or both?"
As noted in #4, the Linux installer uses both pip2 and pip3, but it isn't clear why or how.

As noted in #25, installing Python packages via sudo is bad practice and can cause security and configuration problems for users.

How do we instead install and run IoT inspector in a virtual environment?

Does it really use both Python2 and Python3 packages? Note that Python2 will be unsupported and vulne

[2019-10-07 13:39] vlstice opened #27 "Princeton IoT inspector will not run"
Hello,

No matter how many times I attempt it or open in a new Firefox or Chrome window, the inspector will not run or refresh. This is as far as I can get.
![Screen Shot 2019-10-07 at 8 38 37 AM](https://user-images.githubusercontent.com/46907498/66316815-f35ebf00-e8dd-11e9-9d0b-79b043f77bb5.png)

Thank you

[2019-10-08 14:40] cangeeq opened #28 "Linux "uninstall" leaves installed packages and dependencies"
The recommended uninstall for Linux (at https://iot-inspector.princeton.edu/blog/post/faq/#how-do-i-delete-iot-inspector-from-my-computer which paraphrased is `rm -rf ~/princeton-iot-inspector`) leaves the installed packages that the `linux-setup.sh` script may have installed (`python-pip`, python3-pip`, and `git`) as well as the pip packages from `linux-install-dependencies.sh`.

If installed in

[2019-10-08 14:43] cangeeq opened #29 "Linux client took out Nest Hello camera"
On starting the Linux client, my Nest doorbell camera went off line, and would not come back online until I stopped the IoT Inspector client.

Unfortunately this, #26 and #28 will keep me from running it.

[2019-10-15 16:02] amitashukla commented on #27
I am having the same issue.

Start_inspector_mac gives the following error output:

Traceback (most recent call last):
  File "start_inspector.py", line 2, in <module>
  File "/usr/local/lib/python2.7/site-packages/PyInstaller/loader/pyimod03_importers.py", line 395, in load_module
  File "inspector.py", line 5, in <module>
  File "/usr/local/lib/python2.7/site-packages/PyInstaller/loader/pyimod03

[2019-11-13 20:57] crazyideas21 opened #31 "Make IoT Inspector work on macOS Catalina"
The current version of IoT Inspector fails on macOS Catalina. @kumarde if you have a Catalina, could you run https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/deploy.sh on your Catalina and check in the updated binary (`dist/start_inspector_mac.zip`)? In that way, new users will be able to download the Catalina build.

(I can't do this because my macbook is stolen and I'm using

[2019-11-13 20:57] crazyideas21 opened #32 "Make IoT Inspector work on Windows 10"
I can help in December, since I have Windows 10 myself.

[2019-11-20 19:00] olhaviko opened #34 "Got 404 when try to download start_inspector_mac.zip"

[2019-11-20 19:07] crazyideas21 commented on #34
@kumarde Could you check latest macOS Catalina build into [github's Release](https://help.github.com/en/github/administering-a-repository/creating-releases)?

Originally the binary was checked [into the git repo](https://iot-inspector.princeton.edu/blog/post/getting-started/#i-class-fab-fa-apple-i-macos) and [the download page](https://iot-inspector.princeton.edu/blog/post/getting-started/#i-class

[2019-11-22 03:00] crazyideas21 commented on #34
Pushed a temporary fix. Now the download page links to the old binary from a previous commit: https://iot-inspector.princeton.edu/blog/post/getting-started/

[2019-11-22 08:49] olhaviko opened #35 "Can't start the inspector"
I can't start the inspector, although it worked fine near the week ago.
macOS High Sierra 10.13.6

Steps to reproduce:
1. Go to https://iot-inspector.princeton.edu/blog/post/getting-started/#i-class-fab-fa-apple-i-macos
2. Download start_inspector_mac.zip and unzip
3. Open start_inspector.app
Result:
- popup "IoT Inspector" with the message "Starting IoT Inspector..." appears
- https://inspector.c

[2019-11-22 08:51] olhaviko commented on #34
Now I can download the start_inspector_mac.zip, but still can't run the app.
A near week ago I used inspector normally without any issues.
I created new issue for this: https://github.com/noise-lab/iot-inspector-client/issues/35

[2019-11-22 18:35] prakxys commented on #34
getting 400 after this was fixed

[2019-11-22 20:13] crazyideas21 commented on #34
You got `400` after visiting which URL? I can't replicate your error.

[2019-11-24 05:51] bverkron commented on #35
I have the same issue.

[2019-11-24 18:03] kacomess commented on #35
I've experienced precisely the same problem on Apple OS 10.15.1

[2019-11-24 22:27] bverkron commented on #35
I tried to step through the script by manually running each line.  This was as far as I got. Tried a few previous commits too but they all fail with the same error. I would imagine that whatever was needed would be installed by the script but I suppose one could try manually installing the missing module. Don't have time to dig any deeper right now.

[code]

[2019-11-25 00:18] crazyideas21 commented on #35
Let me test this.

[2019-11-25 00:42] #35 closed

[2019-11-25 00:43] crazyideas21 commented on #35
Issue should be fixed; see https://github.com/noise-lab/iot-inspector-client/commit/decfac1535b3b471249db88ca6a48bb6ee3f7b9c for details. Please reopen this issue if you see further problems. Sorry for this bug.

[2019-11-25 00:48] crazyideas21 commented on #34
I can't replicate the problem and will close the issue. Feel free to reopen the issue if you can provide a detailed description of your problem.

[2019-11-25 00:48] #34 closed

[2019-11-25 14:50] crazyideas21 opened #36 "Update install script for Linux"
Given that we recently ported the code to Python 3, could you update the Linux installation scripts (currently for Python 2) accordingly? Thank you! @kumarde

https://github.com/noise-lab/iot-inspector-client/blob/master/linux-setup.sh
https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/linux-install-dependencies.sh
https://github.com/noise-lab/iot-inspector-client/blob/master/v2-

[2019-11-28 00:02] crazyideas21 commented on #31
I can take care of this after mid-December. @kumarde

[2019-11-28 00:02] crazyideas21 commented on #32
I can take care of this after mid-December. @kumarde

[2019-11-28 22:14] fnordson opened #37 "[Linux]Syntax error"
Hi,
I have the up to date Kali Linux installation.
I got the client installed and started it but it won't give me an URL to work with and this is what it looks like:

[code]

[2019-11-29 14:15] crazyideas21 commented on #37
The code is Python 3 only. We will update the installation script. #36

[2019-11-29 14:15] #37 closed

[2019-11-29 17:58] fnordson commented on #37
I do have python 2 and 3 installed.
What am I to do now?

[2019-11-29 19:31] crazyideas21 commented on #37
The installation script is written in Python 2. If you're interested, you could help us port the installation script to Python 3. (We're currently behind some other deadlines and won't get a chance to fix this issue until mid-December.) See #36.

[2019-11-29 19:39] fnordson commented on #37
Aaah now I get it.
I would love to help you out but I'm not really versed enough. Sorry :(

[2019-12-05 16:17] crazyideas21 commented on #36
Fixed in #38

[2019-12-05 16:17] #36 closed

[2019-12-05 16:18] crazyideas21 commented on #22
Fixed in #38

[2019-12-05 16:18] #22 closed

[2019-12-05 16:19] crazyideas21 commented on #15
That's fine because the Flask instance is bound to `127.0.0.1` only with the correct CORS restrictions.

[2019-12-05 16:19] #15 closed

[2019-12-06 23:50] ggmartins opened #39 "error: bad magic number in net disco"
Hey there folks, I've got this error after running iot inpector for the second time today (I see that the latest code was updated/pulled from git right after I ctrl-c. This is in a raspberry pi 4. Also, I had to manually install netifaces using pip3 to make it (almost) work.
[code]

[2019-12-07 00:52] crazyideas21 commented on #39
Can you clone the latest code into a brand new directory and try again? This problem could be related to stale `pyc` files, especially given we recently bumped the python version from 2 to 3.

See:
- https://github.com/Miserlou/Zappa/issues/854
- https://stackoverflow.com/questions/52698854/importerror-bad-magic-number-in-dateparser-b-x03-xf3-r-n

[2019-12-17 20:08] crazyideas21 commented on #32
See #40

[2019-12-17 20:08] #32 closed

[2019-12-17 20:09] crazyideas21 opened #41 "Make Windows 10 executable"
Now that the code is Windows 10 ready (#40), I'll need to package the code in a single executable (which should automate the installation of npcap, among other required libraries).

[2019-12-17 20:13] crazyideas21 opened #42 "Bug: Remote endpoints in the form of b'sample.com`"
The endpoints should be strings, rather than representations of bytes as shown below:

![image](https://user-images.githubusercontent.com/1479070/71030536-9eaaa200-20df-11ea-8a57-b0dafe86bd37.png)

Reproduced on Windows 10.

[2019-12-17 20:13] crazyideas21 opened #43 "Arp-spoof device-to-device traffic"

[2019-12-17 20:14] crazyideas21 opened #44 "SYN scanning"
Write the starter/untested code for @kumarde and he'll take over.

[2019-12-17 20:14] crazyideas21 commented on #43
Write the starter/untested code for @kumarde and he'll take over.

[2019-12-17 20:39] crazyideas21 opened #45 "Can't start new thread"
After about 10 minutes of running IoT Inspector on Windows 10, I see the following error.

![image](https://user-images.githubusercontent.com/1479070/71032368-3958b000-20e3-11ea-8c1b-cc22cc4e534d.png)

This is likely due to a bug in Flask, as IoT Inspector runs a local webserver to receive commands from the UI. On Linux and macOS, @kumarde reported seeing "too many open files" -- which may be rela

[2019-12-17 20:42] crazyideas21 commented on #41
@kumarde Feel free to take a first stab. https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/deploy.sh should serve as a starting point. All you need is `pyinstaller` and somehow automate the installation of npcap. (Maybe there's a way to run the npcap installer within Python without any user interactions?)

Even after you manage to package IoT Inspector as a standalone Win 10 exe

[2019-12-17 20:46] crazyideas21 commented on #45
About 30 minutes into running IoT Inspector, I see a slightly different but possibly relevant error (presumably because IoT Inspector has run out of file descriptors per @kumarde's observation):

![image](https://user-images.githubusercontent.com/1479070/71032910-55a91c80-20e4-11ea-834a-ca443e2402f0.png)

[2019-12-17 20:54] ggmartins commented on #39
looks like a different problem now (after cloning the entire repo again):

[code]

[2019-12-17 20:58] ggmartins commented on #39
FYI
[code]

[2019-12-17 21:02] kumarde commented on #39
@ggmartins good catch, thanks! I will update this – I know the fix.

[2019-12-17 21:40] kumarde commented on #39
@ggmartins mind giving the latest master a try? Fixed here: https://github.com/noise-lab/iot-inspector-client/pull/46

[2019-12-17 22:25] ggmartins commented on #39
it works now after installing tcpdump. Thanks!

[2019-12-17 22:25] #39 closed

[2019-12-17 23:26] crazyideas21 commented on #39
@ggmartins What do you mean by "after installing tcpdump"? Did you have to install additional software?

[2019-12-18 02:09] ggmartins commented on #39
yes, some library, possibly scapy was complaining about missing tcpdump and dumping a stack trace every second. I can purge tcpdump and see if I can get the exact output for that if that helps.

[2019-12-18 16:44] ggmartins opened #47 "running without arp spoofing"
We're wondering here if there's a way to run in "router" mode, which is basically a linux with 2 interfaces forwarding traffic and with a NAT iptables rule (it sees all the traffic). If you give us directions we might be able to implement that feature in the code if it sounds interesting. Thanks!

[2019-12-19 01:38] crazyideas21 commented on #47
Possible, although this might involve some pretty significant changes to
the client code. I'd deprioritize this feature request.

On Wed, Dec 18, 2019 at 11:44 AM Guilherme Martins <notifications@github.com>
wrote:

[2019-12-19 03:31] crazyideas21 commented on #39
@ggmartins That'd be great. Thanks! The users are not expected to install any missing packets; the installation process should be as easy as possible.

[2020-01-02 20:18] ggmartins opened #48 "tcpdump package required for rpi version"
hey there
back to your last comment in #39 "The users are not expected to install any missing packets;"

I removed tcpdump via apt-get purge and this message appears every second:

[code]
It works with tcpdump installed, so it's not really a bug imho.

[2020-01-06 15:29] #48 closed

[2020-01-06 15:29] crazyideas21 commented on #48
Thanks @ggmartins! Should be fixed. See commit.

[2020-01-06 21:06] ggmartins opened #49 "RuntimeError: can't start new thread"
this is happening in the current version, the same rpi3 raspbian lite with nothing else running other than a tmux and system processes. I also tried with a fresh new clone of iot-inspector-client:
[code]

[code]
if I remove tcpdump, I'm still getting that error:
[code]

[2020-01-06 21:30] crazyideas21 commented on #49
@kumarde It's a known issue. My guess is that the local Flask instance is not properly closing file descriptors. In the next release of IoT Inspector, I'll remove the local Flask instance. Stay tuned.

[2020-01-06 21:31] crazyideas21 opened #50 "Remove local Flask instance"
Hopefully this will fix https://github.com/noise-lab/iot-inspector-client/issues/45 and https://github.com/noise-lab/iot-inspector-client/issues/49

[2020-01-06 21:32] crazyideas21 commented on #49
Related: https://github.com/noise-lab/iot-inspector-client/issues/45 and https://github.com/noise-lab/iot-inspector-client/issues/50

[2020-01-07 17:14] ggmartins commented on #49
FYI, I left it running and this morning it was dead with a "too many open files"
packet_capture.py Line 51

[2020-01-07 17:19] crazyideas21 commented on #49
Thanks for the report! Will address in #50

[2020-01-08 19:55] ggmartins opened #51 "activities inbound vs outbound differentiation"
Are the "Activities Across Monitored Devices" show the summation of both download/upload throughput rates? How do I know if it's download or upload? Maybe a good idea to have 2 distinct graphs like we have for NM? Thanks, G.

[2020-01-10 20:18] crazyideas21 commented on #51
Thanks for the suggestion! Will deal with this when the main issues are fixed...

[2020-01-14 05:03] crazyideas21 commented on #3
Related report:

Hi [Redacted],

If a user has an existing VPN app installed, IoT Inspector is known to crash within 30 seconds. This problem is probably due to a bug in the code that does not handle VPN's virtual network interface correctly. We will fix this issue.

In the meantime, one way to get around this problem (although not ideal) is for you to completely uninstall your VPN app, so that th

[2020-01-15 01:28] apschwartz commented on #3
@crazyideas21 , I tried uninstalling my VPN, which was Tunnelblick.  Rebooted.  Ran IoT Inspector again.  Same behavior, browser never redirected, and when tailing the log file the app logs
[Main] Quit
after about 28 seconds.  Prior messages are primarily [ARP Spoof] and show no obvious error messages.

If/when you are interested, I'd be happy to send log as well as my ifconfig config, and whateve

[2020-01-15 12:28] alexhaydock commented on #47
I am wondering this too - perhaps it would be easier to work in a mode whereby the software doesn't need to configure iptables and routing rules or ethernet interfaces, but could just simply "listen" on an interface.

Then it could be paired with a cheap smart switch offering port mirroring and then IoT devices can be monitored and investigated without compromising the integrity of the network thr

[2020-01-16 15:59] crazyideas21 commented on #47
ARP spoofing is the only way we can think of to capture packets on-path without additional hardware. @alexhaydock

[2020-01-16 16:00] crazyideas21 commented on #3
@apschwartz Could you send me your log? I'm curious what's going on. Thanks!

[2020-01-16 16:06] crazyideas21 commented on #47
@alexhaydock Also putting the wireless interface on promiscuous/monitor mode wouldn't give us the raw IP packets to/from various IoT devices.

[2020-01-16 16:07] crazyideas21 commented on #47
@alexhaydock For usability reasons, the team decides that IoT Inspector should be purely software based and shouldn't involve additional hardware -- not even ethernet cables.

[2020-01-16 19:06] apschwartz commented on #3
Sure.  Sending via email outside github.

[2020-01-19 00:54] apschwartz commented on #3
@crazyideas21, thanks to your suggestions I have found the issue.  Since it could affect others, this was my failure mode:

Configuration:
- Running Google Chrome on a Mac
- Installed EFF's "HTTPS Everywhere" extension

Behavior:
- Run IoT Inspector app.  Browser opens at "https://inspector.cs.princeton.edu/setup" Starting IoT Inspector page.  Page never redirects, just hangs there.
- Clicking on

[2020-01-23 20:01] crazyideas21 commented on #3
More useful notes from @apschwartz (copied and pasted from my email correspondence with im):

In response to this report, I've added the "Known Bugs" section on the [download page](https://iot-inspector.princeton.edu/blog/post/getting-started/#known-bugs).

[2020-02-19 18:04] crazyideas21 commented on #44
SYN scanning can be implemented around these lines:

https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/arp_scan.py#L69

[2020-02-19 18:04] crazyideas21 commented on #43
device-to-device arp spoofing can be implemented around here:

https://github.com/noise-lab/iot-inspector-client/blob/master/v2-src/arp_spoof.py#L77

[2020-02-19 18:06] crazyideas21 commented on #25
Thank you @nealmcb! We will address these issues in the next release!

[2020-02-19 18:08] crazyideas21 commented on #50
And hopefully this will fix this issue: https://github.com/noise-lab/iot-inspector-client/issues/3#issuecomment-575953596

[2020-02-22 14:50] ducalpha commented on #31
Is there any update on this issue? I have just updated to MacOS Catalina. Thanks!

[2020-04-07 18:43] crazyideas21 opened #54 "Byte counter is busted"
Using TCP ACK seq number to infer bytes sent/received seems to be busted.

[2020-04-07 18:45] crazyideas21 commented on #49
Duplicate of #50. Closing this issue for now.

[2020-04-07 18:45] #49 closed

[2020-04-07 18:46] crazyideas21 commented on #45
See #50.

[2020-04-07 18:46] #45 closed

[2020-04-07 18:46] crazyideas21 commented on #43
Duplicate of #53

[2020-04-07 18:46] #43 closed

[2020-04-07 18:47] crazyideas21 commented on #41
Duplicate of #52

[2020-04-07 18:47] #41 closed

[2020-04-07 19:26] crazyideas21 opened #55 "Prepopulated list of devices only includes limited names"
![image](https://user-images.githubusercontent.com/1479070/78710912-1fd2b280-78e4-11ea-945a-41242fac9362.png)

Need to expand this list

[2020-04-07 19:28] crazyideas21 commented on #55
![image](https://user-images.githubusercontent.com/1479070/78711042-56a8c880-78e4-11ea-9add-bc350827ba27.png)

Should display "Roku TV" in the prepopulated list

[2020-04-08 05:14] crazyideas21 commented on #44
@kumarde I'm on this right now. Turns out I need to make some heavy changes to `packet_processor.py` and `data_upload.py`. Stay tuned.

[2020-04-11 17:11] crazyideas21 commented on #44
Took me two hours to figure out that to send a SYN packet, we must use scapy's `send()` (whereas we must use `sendp()` to send ARP packets)... @kumarde

![image](https://user-images.githubusercontent.com/1479070/79050105-c75a2880-7bf5-11ea-82cf-0087ba756eec.png)

[2020-04-11 17:36] crazyideas21 commented on #42
Fixed: https://github.com/noise-lab/iot-inspector-client/commit/51c7f981afe86b2d8a970441c3dc1f6373325960

![image](https://user-images.githubusercontent.com/1479070/79050632-60d70980-7bf9-11ea-99b2-7cfe9ae7955a.png)

[2020-04-11 17:36] #42 closed

[2020-04-11 20:46] crazyideas21 commented on #44
Pushed fix (https://github.com/noise-lab/iot-inspector-client/commit/da529003b8c496916ac2844c778233fb99efdcdd), although I'll need to change the backend to handle the new data uploaded (see diff https://github.com/noise-lab/iot-inspector-client/commit/da529003b8c496916ac2844c778233fb99efdcdd#diff-43d0bcc1944351307bb6db6f4d1093d8)

[2020-04-11 20:46] #44 closed

[2020-04-12 19:50] crazyideas21 commented on #43
Checked device-to-device arp spoofing and it appeared to work.

Setup:

- Macbook Air and Chromecast both running and both under inspection
- I tried to access the Chromecast's port 8008 from the web browser on the Macbook

I checked the mongodb and found the corresponding traffic.

On Chromecast (`s2609885b11`), I found this flow:

[code]

On Macbook Air, I found this flow:

[code]

/cc: @kumarde

[2020-04-12 20:10] crazyideas21 commented on #50
/cc @kumarde I'll need to fix the backend too. See https://github.com/noise-lab/iot-inspector-server-v2/issues/1

[2020-04-12 20:16] crazyideas21 commented on #31
Not yet. Prioritizing over Windows release for now. Will work on this by the end of the month.

[2020-04-12 20:48] kumarde commented on #43
Yeah, this looks great!

On Sun, Apr 12, 2020, 3:51 PM Danny Y. Huang <notifications@github.com>
wrote:

[2020-04-13 18:11] crazyideas21 opened #56 "Track first UDP packet to keep track of direction of traffic"

[2020-04-18 19:15] crazyideas21 opened #57 "Capture full IP + TCP/UDP header for limited time"
Will periodically capture full IP + TCP/UDP header info for labeled devices or for devices where we have netdisco information. May aim for a million packet headers per device.

[2020-04-18 19:16] crazyideas21 commented on #57
/cc @feamster @JordanHolland Will capture full header for 5 minutes. Enough?

[2020-04-20 04:24] crazyideas21 opened #58 "identify user country"

[2020-04-23 19:31] crazyideas21 opened #62 "Do not use str() in packet_processor"
str() turns a byte array into `b'text'`.

[2020-04-26 20:16] crazyideas21 commented on #62
Example:

![image](https://user-images.githubusercontent.com/1479070/80318611-51e77e00-87d9-11ea-9e7b-fe6b4f90bbd3.png)

[2020-04-26 20:27] crazyideas21 commented on #44
Corresponding server issue: https://github.com/noise-lab/iot-inspector-server-v2/issues/3

[2020-04-26 20:48] crazyideas21 opened #63 "remove duplicate traffic due to arp spoofing"
A flow from Device X to the Internet may be seen twice by IoT Inspector:

1. flow seen as being from Device X to IoT Inspector's computer
2. flow seen as being from IoT Inspector's computer to the gateway

As such, IoT Inspector could have double-counted the bytes.

[2020-04-26 20:50] crazyideas21 opened #64 "Have a raspberry pi mode"
...  so that the client does not auto shut down when the UI is closed

[2020-04-26 21:11] crazyideas21 commented on #50
@kumarde Just pushed new code both on client (this issue) and [server](https://github.com/noise-lab/iot-inspector-server-v2/issues/1). Can you test client? To test, do the following:

1. Remove any existing IoT Inspector profiles by doing `rm -rf ~/princeton-iot-inspector`.
2. Run IoT Inspector in test mode: `python start_inspector.py --test`.
3. Follow the instructions on the subsequent terminal

[2020-04-26 23:31] crazyideas21 commented on #50
In the meantime, I've left IoT Inspector running on my bare metal Windows PC overnight to see if there are any crashes /cc @kumarde

[2020-04-27 03:13] crazyideas21 opened #65 "netdisco error upon recovery from standby"
Left IoT Inspector running for 3 hours. Accidentally put Windows 10 computer into standby mode. Recovered from standby mode and found the following error:

[code]

[2020-04-27 03:18] crazyideas21 commented on #65
But the good news is that IoT Inspector for windows (after having local flask removed) had been running continuously for 3+ hours (from 19:20 till 23:08) without any apparent errors /cc: @kumarde

Here's an overview of the traffic:

![image](https://user-images.githubusercontent.com/1479070/80330698-d951e300-8813-11ea-92fa-a177179a15da.png)

(Above: Note that the Chromecast has been playing a live

[2020-04-27 03:22] crazyideas21 commented on #50
I've been able to run IoT Inspector on Windows for 3+ hours without any apparent errors. See this comment: https://github.com/noise-lab/iot-inspector-client/issues/65#issuecomment-619688710 /cc @kumarde

[2020-04-27 13:48] crazyideas21 commented on #50
Been running IoT Inspector on Windows since midnight. No apparent issues.

![image](https://user-images.githubusercontent.com/1479070/80379512-311c3880-886c-11ea-9e05-8831dae93543.png)

/cc @kumarde

[2020-04-27 15:19] crazyideas21 opened #66 "UX: Open a web browser upon starting IoT Inspector"
Ideally, when a user downloads IoT Inspector, the user should be able to double click on the downloaded app's icon [1], while a webpage of IoT Inspector's dashboard should pop up [2] and IoT Inspector collects data in the background (or in a terminal window).

Notes:

[1] If we cannot figure out how to automatically put the app into privileged mode, it's okay if the user would have to right-click

[2020-04-28 06:52] crazyideas21 opened #71 "Windows: "Please run as root" flashes by too fast"
On Windows, if a user double-clicks on the inspector icon (instead of right click to start in admin mode), a terminal window pops up and says "Please run as root", before it quickly disappears.

Need to show user-friendly message to remind users to run as root.

[2020-04-28 07:12] crazyideas21 commented on #71
Same problem with the message where IoT Inspector cannot find npcap... again, the terminal window with the message disappears too quickly... I'll take care of this issue. /cc @kumarde

[2020-04-28 21:04] crazyideas21 opened #72 "Auto-update script on Windows"

[2020-04-29 14:35] crazyideas21 opened #73 "Windows wrapper to auto-update every time at launch"
Let me see if wrapper can request admin mode on Windows so that users don't need to right-click and run as admin...

[2020-04-29 14:35] crazyideas21 opened #74 "macOS version should not start web browser within inspector"
The macOS version should not launch the web browser in privileged mode:

https://github.com/noise-lab/iot-inspector-client/pull/70/commits/56c4a051ff5ef3c11ab40399fb8720e04e61fe7a

This will open IoT Inspector's dashboard correctly, although in the system's default browser. For example, my default browser is Chrome; IoT Inspector opens the dashboard in Safari (which is not in privileged mode).

I'

[2020-04-29 14:39] crazyideas21 commented on #66
Fixed on Windows. See #74 for macOS.

[2020-04-29 14:39] #66 closed

[2020-04-29 14:41] #72 closed

[2020-04-30 17:08] crazyideas21 opened #75 "remove pid file upon exit"
Remove `iot_inspector_pid.txt` upon exit.

[2020-05-01 00:56] crazyideas21 opened #76 "client stops upon network error or UI inactivity"

[2020-05-04 17:20] #73 closed

[2020-05-04 17:53] #71 closed

[2020-05-07 06:17] crazyideas21 opened #77 "record remote device_id"
... so that we can keep track of device-device communication

[2020-05-07 14:58] #76 closed

[2020-05-07 15:37] #75 closed

[2020-05-07 15:44] #65 closed

[2020-05-07 17:19] #54 closed

[2020-05-07 17:39] crazyideas21 opened #78 "reference new website"

[2020-05-07 21:26] crazyideas21 opened #79 "Unable to extract any TLS packets"
This is an expected problem, since we have at this point removed all scapy code that decodes TLS packets. Will need to add this capability back in the future.

[2020-05-07 21:47] #62 closed

[2020-05-08 03:42] crazyideas21 commented on #77
Strange. Data shows that my phone is talking to Roku on port 8060:

[code]

But Roku is not responsive to my SYN scan -- i.e., the following doesn't produce any result:

[code]

/cc: @kumarde FYI, the SYN scans are not always accurate in showing what services a device is running.

[2020-05-08 03:46] crazyideas21 commented on #77
... and the reason is that port 8060 is not a part of the port list (see `get_port_list()`).

Should we expand our port list? /cc: @kumarde

[2020-05-08 06:10] crazyideas21 opened #80 "test with VPN"

[2020-05-08 14:55] crazyideas21 opened #81 "don't arp spoof a device against itself"

[2020-05-08 15:35] #81 closed

[2020-05-08 17:10] crazyideas21 commented on #63
Not a problem; closing issue. See #77.

[2020-05-08 17:10] #63 closed

[2020-05-08 17:11] crazyideas21 commented on #77
I inspected both my Android phone and the Chromecast. I opened `10.0.0.11:8443` and `10.0.0.11:8008` on my phone's browser.

Traffic from my phone to Chromecast:

[code]

Interestingly, somehow traffic from my phone to `10.0.0.11:8009` is in the log above. Maybe it's due to automatic scanning by the phone?

Anyways, here's the traffic from Chromecast to my phone:

[code]

In both the screen captur

[2020-05-08 17:11] #77 closed

[2020-05-09 23:26] #80 closed

[2020-05-09 23:26] #78 closed

[2020-05-10 15:44] #50 closed

[2020-05-11 19:55] crazyideas21 opened #83 "need to collect flow window size"

[2020-05-12 08:12] malexmave opened #84 "IoTinspector.org offline"
https://iotinspector.org/ no longer loads for me, or rather: only shows an empty page with the HTML content:

[code]

This issue is just intended to let you know in case your monitoring did not already catch this. Feel free to close if this is a known issue.

[2020-05-12 15:28] crazyideas21 commented on #84
Hi @malexmave,

Did you turn off javascript in your browser? Could you submit a screenshot? I have no issue opening the page in major browsers:

![image](https://user-images.githubusercontent.com/1479070/81713284-a9295780-9443-11ea-93d0-e8185d7435e2.png)

Thanks!

Danny

[2020-05-12 19:10] malexmave commented on #84
Looks like I found the culprit:
![image](https://user-images.githubusercontent.com/1688580/81735084-d18d7200-9494-11ea-9bb0-31e8437e7d58.png)

Some necessary JavaScript seems to have ended up on a block list used by uBlock Origin. So, it doesn't seem like it is an issue with the IoTInspector website itself - closing this, but at least now you know the reason in case others report similar issues.

[2020-05-12 19:10] #84 closed

[2020-05-12 19:24] crazyideas21 commented on #84
Thanks for pointing out the issue, @malexmave!

[2020-05-12 19:40] crazyideas21 opened #85 "count packets"

[2020-05-13 16:58] #56 closed

[2020-05-13 16:59] crazyideas21 commented on #56
Fixed /cc @gunesacar

[2020-05-13 16:59] #83 closed

[2020-05-13 16:59] #85 closed

[2020-05-16 16:26] crazyideas21 opened #86 "check if remote IP is the gateway"
/cc: @kumarde

[2020-05-16 16:42] #86 closed

[2020-05-16 18:28] bmorgan99 opened #87 "Envisalink - Security Event: Network Supervision Fault"
Getting occasional Supervision Faults from my v4 Envisalink card on a Vista20p.  Restores itself in 30 minutes or so.

[2020-05-16 18:37] crazyideas21 commented on #87
Could you share a screenshot, please?

[2020-05-16 19:32] bmorgan99 commented on #87
It sends the error via email:
[image: image.png]
[image: image.png]

On Sat, May 16, 2020 at 1:37 PM Danny Y. Huang <notifications@github.com>
wrote:

--
Bruce Morgan
blmorgan@gmail.com

[2020-05-16 19:36] bmorgan99 commented on #87
I'm assuming it was caused by the iot inspector, as I got 2 or these in 3
hours and only a handful in the previous 5 years, usually during power
issues.

On Sat, May 16, 2020 at 1:37 PM Danny Y. Huang <notifications@github.com>
wrote:

--
Bruce Morgan
blmorgan@gmail.com

[2020-05-17 20:25] crazyideas21 commented on #87
I don't see the images in your reply above.

Could you share the screenshots here? Any screenshots would be helpful. Right now, it's hard for me to identify the problem in the first place. Thanks!

[2020-05-17 21:11] bmorgan99 commented on #87
![image](https://user-images.githubusercontent.com/29981976/82160127-c18cde00-9858-11ea-8905-0a07c1d0e370.png)

I'm afraid it's not going to help, but it's all I get.  I don't know why just sniffing the data would cause this, but there's a lot I don't know.

[2020-08-09 09:53] Opusprimo opened #89 "Interface is invalid (no pcap match found)"
Installed Npcap and IoT Inspector downloaded from the website, restarted the OS, started the inspector with admin rights, only this information appear:
[code]

The dashboard give back this output:
[code]

Try to reinstall Npcap, deactivate completely AV but with no result.
Npcap Loopback Adapter is activated.

[2020-08-12 16:19] cathsaigh opened #90 "Error downloading the latest IoT Inspector (Win10 install)"
Followed directions and ran "update_inspector.bat".  Received following message:

Downloading the latest version of IoT Inspector...
Error downloading the latest IoT Inspector.
Press any key to exit.

Any ideas?

[2020-08-12 16:26] crazyideas21 commented on #90
We're down for maintenance today.

[2020-08-12 16:26] #90 closed

[2020-08-12 19:47] crazyideas21 commented on #90
We're done with maintenance. Try again.

[2020-08-21 05:28] maying0120 opened #91 "ERROR: Could not find a version that satisfies the requirement tmpdump (from versions: none) ERROR: No matching distribution found for tmpdump"
ERROR: Could not find a version that satisfies the requirement tcpdump (from versions: none)
ERROR: No matching distribution found for tcpdump

anyone meet with this problem?  with MacOS Catalina and python version 3.8.5

[2020-08-24 05:04] crazyideas21 commented on #91
Try without the `tcpdump` package and report the errors.

[2020-09-21 06:57] gmorain commented on #91
Hi, just had the same issue here (MacOS Mojave 10.14.6), solved by removing `tcpdump` as suggested (but since I had already installed scapy (`brew install scapy`) and libpcap (`brew install libpcap`) in the past, I am not sure if other steps are needed for iot-inspector-client to work on a stock machine.

My 2 cents: using virtualenv+virtualenvwrapper helps me keep my system clean. If you also hav

[2020-10-04 04:54] x86vk opened #93 "The IoT-Inspector creates too many threads"
... and crashes after the thread # in the system (default setting on Raspbian) hits a limit.

One dirty workaround is to put `netdisco` into a separate process and kill it once it creates too many threads.

[code]

[2020-10-04 05:01] x86vk opened #94 "Netdisco throws "TypeError: tuple indices must be integers or slices, not str""
Not sure what's causing this. It keeps popping in the log but will not crash the inspector.

[code]

[2020-10-04 05:05] x86vk opened #95 "One dependency (scapy-http) is deprecated"

[2020-10-16 19:05] crazyideas21 opened #98 "Inspector auto-quits upon inactivity in Rasp Pi"
If you run IoT Inspector from the command line on Rasp Pi, the tool auto-quits if the user does not interact with the UI for more than 2 minutes.

Many thanks to @x86vk who reported this issue.

[2020-10-16 19:06] #98 closed

[2021-05-13 17:55] stefan123t opened #105 "Exception in bound method ArpScan._arp_scan_thread_helper, argument 1 must be str, not NetworkInterface"
Thanks for writing this tool. I just checked out the git version according to build instructions in the Readme.
I had to comment out the tcpdump in requirements.txt following #91 as the package is not available via pip and binaries are already installed on Linux Mint 21.

When starting the tool with `$ sudo python start_inspector.py` I do get repeated errors as following:

[code]
Adding the Ethern

[2021-06-28 15:43] SASA10333 commented on #13
**did you fix it?**

[2021-06-28 21:09] MadBowkey opened #106 "Could not install packages due to an EnvironmentError"
https://www.piwheels.org/simple/tcpdump - 404 — file not found
https://pypi.org/simple/tcpdump/ - 404 Not Found

[2021-06-28 21:49] MadBowkey opened #107 "sudo python start_inspector.py -> __init__.py: invalid syntax"
-> sudo python start_inspector.py
[code]
Adding "enp0s25" as a parameter is making no difference in the result.

[2021-08-07 15:24] dbl001 opened #110 "OSError: [Errno 24] Too many open files: '/Users/davidlaxer/princeton-iot-inspector/iot_inspector_logs.txt'"
I am running with an Anaconda Python 3.8.5 stack in a virtual environment.

% ulimit -n
256

Here's the exception:
[code]
Here's the log file:
"~/princeton-iot-inspector/iot_inspector_logs.txt" [readonly] 48043L, 3671683B
[code]
Here's my environment:
[code]

[2021-08-15 19:11] dbl001 commented on #110
I adjusted the maxfiles
E.g.
<img width="2560" alt="Screen Shot 2021-08-15 at 12 09 18 PM" src="https://user-images.githubusercontent.com/3105499/129489728-9d3b945e-880e-4f44-884f-a484e28d6b6f.png">

[code]
it ran for a while but then got this exception:
[code]

[2022-01-12 22:31] william1357chen commented on #110
I also have the same problem and I believe I found the fix. The `netdisco` thread keeps on opening sockets without calling `netdis.stop()` which caused this error. I will commit a fix to this issue soon.

[2022-01-12 22:31] #110 closed

[2022-02-10 20:10] dbl001 commented on #110
I can confirm that this issue is fixed.
Question: is there a way to see the IP Addresses of end-points with question mark (other then using WireShark)?
E.g. ?
(184.26.128.32 and 9 others)

[2022-02-10 20:53] crazyideas21 commented on #110
Will be in the next major release. It's a difficult issue as sometimes we don't see DNS packets.

The next major release will infer FQDNs based on SNIs. Currently, the ClientHello parsing is broken.

[2022-02-10 23:56] crazyideas21 commented on #110
Good point. Will communicate with the UI UX team

On Thu, Feb 10, 2022, 18:55 William Chen ***@***.***> wrote:

[2022-02-11 00:01] william1357chen commented on #110
Additionally, endpoints within the LAN are classified as ? even though they should get the device name of that IP address. For instance, a phone talking to Chromecast at 192.168.0.128 should get it’s communication endpoint to 192.168.0.128 classified as the device name of 192.168.0.128.

[2022-02-11 17:04] dbl001 commented on #110
Also, if a VPN is activated on the device being scanned, all activity is grouped under ‘?’.
Are the communication end-point IP addresses encrypted (and are therefore hidden) by the VPN to IOT Inspector?
It appears that most of the network activity is not detected with the VPN is active.

[2022-02-11 17:08] william1357chen commented on #110
Yeah, that's the whole point of using a VPN; to encapsulate the packets. So it's not possible to see the actual endpoints, only the endpoint of the VPN server.

[2022-02-26 16:20] jckozy86 opened #115 "MacOS python run auto terminates after 15 seconds of starting"
Followed instructions from website:
https://inspector.engineering.nyu.edu/site/post/getting-started/#i-class-fab-fa-apple-i-macos-download

no errors during install, no errors during start up.
post running: `python3 start_inspector.py` a webpage opened up[https://dashboard.iotinspector.org/dashboard]( https://dashboard.iotinspector.org/dashboard)
Tried hitting rescan network and traversed the UI w

[2022-03-01 17:20] dbl001 commented on #115
What's in the log file?
E.g. - /var/root/princeton-iot-inspector/iot_inspector_logs.txt

[2022-03-01 18:35] crazyideas21 commented on #115
Not really sure why the client would terminate prematurely. We're currently working on the next version (to be released May-ish) that would not have this issue.

The log file records what devices are being inspected and what data is being shared with the cloud. Mostly for debugging purposes.

[2022-03-01 18:51] crazyideas21 commented on #115
The next release has a completely different architecture that wouldn't have this problem (per @jckozy86).

[2022-03-18 19:56] nicholasphair commented on #115
I was able to reproduce this issue and traced it to `self.last_ui_contact_ts` not being updated. #117 proposes a fix by ripping out the check for `self.last_ui_contact_ts`.

My assumption was that https://github.com/nyu-mlab/iot-inspector-client/blob/92b422e3b74b3b0937ed3ce542509f6513e38ba6/src/data_upload.py#L55-L63 is just not suppose to be there. In fact, even the comment doesn't line up. It se

[2022-03-18 20:07] nicholasphair commented on #107
Looks like you are using python2.7 and python3 is required.

This was an upstream issue too :) https://github.com/jstasiak/python-zeroconf/issues/182

[2022-03-19 14:55] crazyideas21 opened #119 "packet losses during ARP spoofing"
Let's say Host A pings Host B on the same network every second. Both A and B are inspected. There'd be a period of 50 seconds where Inspector doesn't observe packets between A and B.

[2022-03-19 14:55] #119 closed

[2022-03-19 15:01] #115 closed

[2022-03-23 15:26] Bruce5901 commented on #90
Batch file is returning the following:

Downloading the latest version of IoT Inspector...
Error downloading the latest IoT Inspector.
Press any key to exit.

Any Ideas of how to proceed?

[2022-03-23 20:50] larrym opened #120 "Ubuntu 20.04 scapy build failure"
On running `pip install -r requirements.txt`, the following error occurred. Any way to correct this?

    ...
    Building wheels for collected packages: scapy
      Building wheel for scapy (setup.py) ... error
      ERROR: Command errored out with exit status 1:
       command: /home/larry/src/iot-inspector-client/src/env/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/t

[2022-03-23 21:01] crazyideas21 commented on #120
@william1357chen Are you able to replicate the issue on your Ubuntu 20 VM?

[2022-03-23 21:50] larrym commented on #120
Running on metal, not VM.

On Wed, Mar 23, 2022 at 2:02 PM Danny Y. Huang ***@***.***>
wrote:

[2022-03-23 21:57] william1357chen commented on #120
Try to install wheel first with `pip install wheel` before installing scapy. Additionally, on Ubuntu you have to install scapy with the `apt` package manager instead of pip, so `sudo apt-get python3-scapy`.

[2022-03-23 21:58] william1357chen commented on #120
If both these methods don’t work lmk.

[2022-03-23 23:14] larrym commented on #120
I think it worked.

$ pip install wheel => (Requirement already satisfied: wheel in

$ sudo apt python3-scapy

$ python3 start_inspector.py

Forgive my ignorance. I watched Prof Huang's video presentation. After
starting the inspector, I expected to see more output, but there is only a
single line.

On Wed, Mar 23, 2022 at 2:57 PM William Chen ***@***.***>
wrote:

[2022-03-25 01:15] william1357chen commented on #120
You are supposed to receive a URL to open inspector in the browser.

[2022-03-25 01:17] larrym commented on #120
No. My previous message shows the output, a single line.

On Thu, Mar 24, 2022 at 6:15 PM William Chen ***@***.***>
wrote:

[2022-03-25 02:04] william1357chen opened #121 "ARP Spoofing opcode 1 vs. opcode 2"
There is a discovered issue with using spoofed ARP requests in IoT Inspector. Here is the detailed issue.

When using spoofed ARP requests (op=1), tests by @crazyideas21 have shown that there are clear packet losses compared to using spoofed ARP replies (op=2). **We suspect that the spoofed ARP caches for the spoofed devices are modified back to the original unspoofed state, and why this happens i

[2022-03-25 02:16] william1357chen commented on #120
Can you check the logs at `~/princeton-iot-inspector/iot_inspector_logs.txt`? If you cannot find the logs there, it should be in the root folder because we use `sudo` to run Inspector, so:
[code]
You will find the `princeton-iot-inspector` folder in there.

[2022-03-25 02:52] crazyideas21 commented on #120
@larrym Try to run everything as root?

[2022-03-25 02:55] crazyideas21 commented on #121
Will address in the next release of Inspector. In particular, will use opcode = 2 by default, but if user complains disrupted Internet, will switch to opcode = 1.

Relevant: https://github.com/nyu-mlab/iot-inspector-client/pull/118 @viz-prakash

[2022-04-29 18:24] gregftaylor opened #125 "Exception in thread zeroconf-Engine"
I've been running the Princeton IOT Inspector for Windows 10 under Windows 10, build 19044.1645 for two days.
In spite of activity by devices on my network, so far it has reported nothing on my web page. It has reported the following exception 80 times:

I have interacted with several of my IOTdevices after noticing these exceptions, but have so far been unable to deliberately trigger another occu

[2022-07-06 17:35] crazyideas21 opened #134 "animation makes it difficult to see trends"
In device activity graphs, the line chart uses animation. It is hard to follow particular traffic patterns (e.g., peaks) as time progresses, and time is progressing too slowly. Suggested next steps: disable animation, and increase the frequency of polling. Not sure of the performance hit yet.

/cc: @cdnicoll

[2022-07-06 17:41] crazyideas21 opened #135 "Main network activity graph not showing device names"
The current network activity graph is showing device IDs

![Screen Shot 2022-07-06 at 13 38 40](https://user-images.githubusercontent.com/1479070/177610683-e24d1dce-964e-4898-88eb-d568ea5ca6fa.png)

Ideally, the fix should show device names instead (for devices that are named)

[2022-07-06 17:47] crazyideas21 opened #136 "Saved tags do not appear in the device list"
Users can save a tag for a device, but the device list doesn't show the tag.

For instance, I create a new tag `danny` and save it:
![Screen Shot 2022-07-06 at 13 46 33](https://user-images.githubusercontent.com/1479070/177611893-973dcbfa-635d-494d-a310-0cc9cd8f7af6.png)

However, the `danny` tag doesn't apppear in the main list:
![Screen Shot 2022-07-06 at 13 47 10](https://user-images.githubuser

[2022-07-06 18:13] crazyideas21 opened #137 "Always showing "Analyzing traffic since 1 week ago""
![Screen Shot 2022-07-06 at 13 49 43](https://user-images.githubusercontent.com/1479070/177615974-9cff1c87-5b6f-4af3-b06f-eee6a5cc620c.png)

It appears that the 1 week ago value is hardcoded.

[2022-07-06 18:16] #137 closed

[2022-07-07 13:47] crazyideas21 commented on #135
Also, despite having more than 3 devices, the bar graph only shows 3 devices. Should we show all devices instead?

[2022-07-07 14:12] crazyideas21 opened #138 "Generate mock devices and traffic incrementally"
The python driver should incrementally generate new devices and traffic -- just like in the real deployment.

Right now, it generates 30 devices at once, and then their traffic incrementally -- which is not realistic.

[2022-07-07 14:13] #138 closed

[2022-07-07 14:34] crazyideas21 opened #139 "Dynamic device list in "Scan Network""
@cdnicoll I know that the "Scan Network" feature hasn't been implemented yet, but when you do, can you please show a dynamic list of devices on the [Scan Network screen](https://xd.adobe.com/view/250bfa62-c34a-4356-9cf3-dedf1313c814-7058/screen/8bc16fbe-0998-47b9-8adb-bc47762a1857) (refreshed roughly once every two seconds)?

Per #138, I've edited the mock data script to generate...
* two new devi

[2022-07-07 14:34] crazyideas21 commented on #138
New feature in the mock data generation script: It generates...

* two new devices every 10 seconds, up to 30 devices
* traffic to/from all devices continuously

[2022-07-12 14:36] cdnicoll commented on #135
1. Showing all devices is really cluttered and a bit of a performance hit. We're looking into showing all devices and filtering out those that are shown on the list below. I'll update you when we have a more clear solution. As for device name, 100% agree on that. We'll get that in there
2. The query is heavy, but we're also doing a bit of math on our side so the javascript is a bit slow. I think e

[2022-07-18 22:18] cdnicoll commented on #136
Fixed the in the latest PR: https://github.com/nyu-mlab/iot-inspector-client/pull/140

[2022-07-18 22:23] cdnicoll opened #142 "Single Row Generated for User Configs"
Hey @crazyideas21 I've gone ahead and created a table for user_configs. ( see here https://github.com/nyu-mlab/iot-inspector-client/commit/a3514915e520145d5b2afb06cf482bad2258916e)

The idea is that it will contain a single row within id `0`. Could you have it so that when spinning up the mock database it'll create the single row. If the database already exists, it shouldn't overwrite that row.

I

[2022-07-20 15:01] crazyideas21 commented on #142
Yes.

Yes.

I can do that on my end in both the mock script and in the Python driver. Will push an update today. (Sorry been fighting a fire elsewhere.)

[2022-07-20 15:31] cdnicoll commented on #142
No worries Danny! That sounds great. Let me know if I can help with anything else!

[2022-07-20 15:38] crazyideas21 commented on #142
Pushed. By the way, I removed AUTOINCREMENT because it is unncessary; see https://www.sqlite.org/autoinc.html

[2022-07-20 15:38] #142 closed

[2022-07-22 17:09] crazyideas21 commented on #135
Looks good to me for now. Thanks @cdnicoll!

[2022-07-22 17:09] #135 closed

[2022-07-22 17:11] crazyideas21 opened #143 "fake data generated too slowly"
The fake data is being generated too slowly (which may be unrealistic to emulate devices under active use).

Should generate data more frequently, so that the graphs are updated more frequently (especially for UX and performance testing).

[2022-07-22 18:16] crazyideas21 commented on #136
Thanks!

[2022-07-22 18:27] crazyideas21 commented on #139
Thanks for the update @cdnicoll!

I do see that...
* the main dashboard shows devices that are being inspected
* the Scan Network screen shows all devices
* toggling on/off devices in the Scan Network screen results in devices being add/removed from the main dashboard

One thing that I'm not yet seeing is the auto refresh of devices. The mock data script generate...

* two new devices every 10 sec

[2022-07-25 14:55] dbl001 commented on #110
Two questions:
1. can IoT Inspector coexist with Firewalla Purple?
2. ETA on new IoT Inspector release?

[2022-08-09 17:48] cdnicoll commented on #139
Should auto refresh every 30 seconds now

[2022-08-12 12:41] amaczen opened #146 "Iot-inspector windows not working."
After running the start_inspector.bat, The CLI displays there was an error downloaidng the latest Iot Inspector. The same error occurs across different windows machines.
[
![error](https://user-images.githubusercontent.com/29413269/184355788-802ab1ff-1ddf-46da-acdc-83bbf8ca6d6a.png)
](url)

[2022-08-18 21:26] crazyideas21 commented on #139
Not really. 30 seconds in, and I see a blank screen:

https://www.loom.com/share/6ed0270de1df400a8dc93cfd7fa2a92c

In the above video, I was running generating the fake data from scratch, while testing the UI. After about 30 seconds, the screen went blank, and Chrome showed errors.

Not sure what's going on @cdnicoll

[2022-08-26 05:30] crazyideas21 commented on #146
As we're preparing for a relaunch, the current infrastructure is unstable. See https://iotinspector.org/

[2022-08-26 05:30] #146 closed

[2022-11-30 05:40] crazyideas21 opened #151 "Unable to change device name"
If I change the name of a device and refresh the device's page, the device's name is not updated. Also, the updated name is not shown on the main dashboard. There's an occasional blank screen, too.

See this video for details.

https://www.loom.com/share/be5aea57149e4f40b2fa69e4968fd467

I'm using the front end with real data from my home network.

[2022-11-30 05:43] crazyideas21 commented on #136
Somehow this issue reappeared. Are you able to reproduce this issue?

https://www.loom.com/share/d6b0bf1379344c1bb50155c8c542acf2

I'm using the front end with real data from my home network.

[2022-11-30 05:46] crazyideas21 opened #152 "Network Activity Graph shows all 177 bytes"
I'm seeing 177 bytes in all the boxes when I'm running Inspector on my actual home network.

<img width="1000" alt="Screen Shot 2022-11-30 at 00 43 45" src="https://user-images.githubusercontent.com/1479070/204717228-3f94cb0d-a8bb-4341-993c-d48fe2091a0e.png">

Certainly not a coincidence that all the boxes are 177 🙃

[2022-11-30 05:51] crazyideas21 opened #153 "Clicking the title always brings me back to consent screen"
If I click on the Home Data Inspector title icon, I'm always taken back to the consent screen, even though I have previously consented.

See video https://www.loom.com/share/eec849fb316b4fc5994453e77c976af8